<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h2>New Furniture</h2>

	<form action="/furniture" method="POST">
		Name: <input type="text" name="name"><br>
		Material: <input type="text" name="material"><br>
		<input type="submit" name="" value="Submit Furniture">
	</form>

</body>
</html>