<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h2>New Furniture</h2>

	<form action="/furniture" method="POST">
		Name: <input type="text" name="name"><br>
		Material: <input type="text" name="material"><br>
		Room: <select>

			<% for (let i = 0; i < rooms.length; i ++) {%>
			<option name="roomName" value="rooms[i].name"><%=rooms[i].name%></option>
			<% } %>

		</select><br>
		<input type="submit" name="" value="Submit Furniture">
		

	</form>

</body>
</html>