<!DOCTYPE html>
<html>
<head>
	<title>Show ONE ROOM</title>
</head>
<body>

	<h1><%=room.name%></h1>

	<ul>
		<li>Purpose: <%=room.purpose%></li>
		<li>Floor: <%=room.floor%></li>
	</ul>	
</body>
</html>